<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/static/contact.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <a id="top"></a>
        <header>
                <nav>
                    <ul class="nav">
                        <li><a  href="/index">Home</a></li>
                        <li><a  href="/about">About</a></li>
                        <li><a class="active"  href="/">Contact Us</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                </nav>
                
            
        
            </header>
            <div class="container">

                                         
                                  <h1>Contact Us</h1>
                             
                              <div class="contact">
                              <form action="/thanks">
                                  
                                 <input type="text" name="name" class="form-box" placeholder="Enter your name "  required /> <br>
                                 <input type="email" name="email"  class="form-box" placeholder="@ mail adress" required /> <br>
                                  <textarea  class="form-box" name="comment" form="usrform" placeholder="Write here... " rows="4" required ></textarea> <br>
                                  <input type="submit" class="form-box" class="button" value="Send Message"></input> 
                                </form>
                               
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2030.6369079251792!2d17.94562751600832!3d59.40577008168566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9eed21e68093%3A0xa89dc97e0d6d5e37!2sIsafjordsgatan%2032A%2C%20164%2040%20Kista!5e0!3m2!1ssv!2sse!4v1575684827773!5m2!1ssv!2sse" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                              </div>
                      
                              
                       
                                                   
                        
                        </div>

                   
                         

                    
            

            <footer>
                    <p>Posted by: FWR19S</p>
                    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
                 
                </footer>
                <a  href="#top" id="down"><i class="fa fa-arrow-up" style="font-size:48px;color:#227093"></i></a>
                
    
</body>
</html>