<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
    <title>About</title>
    <link rel="stylesheet" href="/static/contact.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <a id="top"></a>
    <header>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/contact">Contact Us</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/sign-in">Sign In</a></li>
            </ul>
        </nav>



    </header>
    <div class="container">


        <h1>Contact Us</h1>

        <div class="contact">
            <form action="/thanks">

                <input type="text" name="name" class="form-box" placeholder="Enter your name " required /> <br>
                <input type="email" name="email" class="form-box" placeholder="@ mail adress" required /> <br>
                <textarea class="form-box" name="comment" form="usrform" placeholder="Write here... " rows="4"
                    required></textarea> <br>
                <input type="submit" class="form-box"  class="button" value="Send Message"></input>
            </form>

            
        </div>





    </div>







    <footer>
        <p>Posted by: FWR19S</p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>

    </footer>
    <a href="#top" id="down"><i class="fa fa-arrow-up" style="font-size:48px;color:#227093"></i></a>
    <script src="/static/function.js"></script>

</body>

</html>