<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <link rel="stylesheet" href="/static/singin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <a id="top"></a>
        <header>
                <nav>
                    <ul class="nav">
                        <li><a  href="/index">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a  href="/contact">Contact Us</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a class="active" href="/">Sign In</a></li>
                    </ul>
                </nav>
                
            
        
            </header>
            <div class="container">

                

            </div>
            

            <footer>
                    <p>Posted by: FWR19S</p>
                    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
                 
                </footer>
                <a  href="#top" id="down"><i class="fa fa-arrow-up" style="font-size:48px;color:#227093"></i></a>
                
    
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/signup.css">
    <title>Signup</title>

</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a class="active" href="/">Sign In</a></li>
        </ul>
    </nav>
    <form name="Sign-in">


        <label for="email">Email:</label>
        <input type="text" id="email" name="email"> <span class="error hide"></span>
        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br>




        <input type="submit" id="button" value="Sign Up">
    </form>
    <script src="/static/script.js"></script>
</body>

</html>