<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
<link rel="stylesheet" type="text/css" href="/static/thanks.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <a id="top"></a>
    <header>
        <nav>
            <ul class="nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/sign-in">Sign In</a></li>
            </ul>
        </nav>
        
    

    </header>
     <div class="container">
         
          <div class="pm" >
        <div class="bes">
            
        <h1 >Your message successfully sent </h1> 
                <button type="button" class="button"><a href="/views/index.ejs">Back to the Home page</a>
             
 
  </div>
</div>
</div>
   
 
      
    
<footer>
    <p>Posted by: FWR19S</p>
    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
 
</footer>
<a  href="#top" id="down"><i class="fa fa-arrow-up" style="font-size:48px;color:#227093"></i></a>


</body>
</html>