
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');

/* Gäller till hela sidan */
html
  {
    font-family : "Lucida Sans" , sans-serif;
  }

  body{
      margin: 0;
      padding: 0;
      text-align: center;
  }

* {
    box-sizing: border-box;
    margin:0;
    padding:0 ;
    
    
  }

  .container{
    display: grid;
     background-image: radial-gradient(circle, rgb(201, 101, 126), rgb(42, 85, 114));
    height: auto;
    width: 100%; 

    
}


  .form-box{
      width: 600px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom:4px solid  rgb(42, 85, 114);
      color: black;
      font-size: 20px;
      margin-bottom: 16px;
  }
  
  ::placeholder { 
    color:black;
    opacity: 1; 
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

  }

  a {
      text-decoration: none;
  }

  .nav {
    list-style: none;
    display: flex;
    font-size: 0.7em;
    text-shadow: 2px 2px 5px rgb(99, 182, 182);
    position: relative;
  }
  
  .nav li {
    padding: 0px 20px;
  }
  
  .nav li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav li a:hover {
    color: #142529;
    font-size: 15px;
  }
  
  li a.active {
    
    color: rgb(39, 125, 196);
    text-decoration: underline;
  }


  .pm{          
    display: flex;
    border-radius: 5px;
    text-align: center;
    width: 400px;
     font-size: 20px;
     padding-left: 40px;
     margin: 0 20px;
     position: center;
   }
  
   h1{
       text-shadow: 2px 2px 5px rgb(19, 126, 126);
    text-align: center;
    padding: 100px 0 0;
    font-size: 50px ;

}
  
  .contact{
    font-family: 'PT Sans Caption', sans-serif;
   
  }


  label{
    color: rgb(33, 33, 34);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  input{
    height: 45px;
  } 

  /* .button {
    background-color: rgb(67, 128, 168);
    border: none;
    color: rgb(26, 24, 24);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  } */
   .button:hover{
    color: #142529;
    font-size: 20px;  
   }
  
  footer{
    text-align: center;
     padding:0;
   margin: 0;
   }   
  
   #down{
    position: fixed;
    bottom: 0px;
    right: 0px;         
  }


  
  @media only screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        font-size:2rem ;
    
      }
    
    .nav{
      display: flex;
    }
     li a:hover {
        color: #142529;
        font-size: 30px;
        
      }
  }
  