* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  height: 550px;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #485563,
    #29323c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #485563,
    #29323c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  padding: 20px 70px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;

}

a {
  text-decoration: none;
}


.nav {
  list-style: none;
  display: flex;
  font-size: 0.7em;
  text-shadow: 2px 2px 5px rgb(99, 182, 182);
  position: relative;
}

.nav li {
  padding: 0px 20px;
}

.nav li a {
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  color: #142529;
  font-size: 15px;
}

li a.active {
  
  color: rgb(39, 125, 196);
  text-decoration: underline;
}


footer{
  text-align: center;
   padding:0;
 margin: 0;
 }   

 #down{
  position: fixed;
  bottom: 0px;
  right: 0px;         
}






label {
  font-size: 1.2em;
}

form {
  width: 40%;
  display: block;
  outline: none;
  margin: auto;
  margin-top: 2%;
  padding: 50px 50px;
  font-size: 14px;
  border-radius: 15px;
  color: white;
  font-family: "Cormorant Garamond", serif;
  background: #29323c;
}

h1 {
  margin-left: 70px;
  margin-top: -20px;
}

#button {
  margin-top: 40px;
  color: white;
  background: #041a29;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #041a29;
  font-family: "Cormorant Garamond", serif;
}
#button:hover {
  color: rgb(0, 0, 0);
  background: white;
}

input {
  width: 100%;
  display: block;
  font-size: 1.8em;
  color: #041a29;
  background: transparent;
}

.error {
  color: red;
}





@media only screen and (min-width: 768px) {

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      font-size:2rem ;
  
    }
  
  .nav{
    display: flex;
  }
   li a:hover {
      color: #142529;
      font-size: 30px;
      
    }
}